{% extends "navBar.html" %}
{% load static %}
<head>

  <title>Sobre nosotros</title>

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="estilosbootstrap.scss">
  <link rel="stylesheet" href="scss/_variables.scss">


</head>
{% block body %}


  <!---Sobre nosotros-->
  <div id="fondo">
  <br></br>
  <h1 style="text-align: center;">Sobre nosotros</h1>
  <br></br>
  



  <p style="text-align: center;">Somos un camping que cuenta con más de 20 años de experiencia.</p>
  <p style="text-align: center;"> Nos encontramos ubicados al sur de Chile.</p>

  <h4 style="text-align: center;">Ofrecemos:</h4>
  <ul id="ListaNosotros">

    <li> Baños con servicio de agua caliente </li>
    <li> Agua potable</li>
    <li> Electricidad</li>
    <li> Espacios de recreación para niños </li>
    <li> Piscina</li>
  </ul>

  <!-- Inicio del Contáctanos-->
  <br>
  <h1 style="text-align: center;">Contáctanos</h1>
  <br>
  <!--Formulario -->
  <div class="container">
    <form class="row g-3">
    <div class="col-md-4">
      <label for="nombren" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombren" 
      placeholder="Nombre">

    </div>
    <div class="col-md-4">
      <label for="correon" class="form-label">Correo</label>
      <input type="text" class="form-control" id="correon"  
      placeholder="Correo electrónico">
    </div>
    <div class="col-md-4">
      <label for="dominion" class="form-label">Dominio</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input type="text" class="form-control" id="dominion" aria-describedby="inputGroupPrepend"  
        placeholder="Por ejemplo: gmail.com">
      </div>
    </div>
    <div class="col-md-6">
      <label for="mensajen" class="form-label">Mensaje</label>
      <input type="text" class="form-control" id="mensajen" placeholder="Deja tu comentario">
    </div>

    <div class="col-12">
      <br></br>
      <div class="d-flex justify-content-center">
      <button id="boton1" class="btn btn-primary" type="submit">Enviar</button>
    </div>
    </div>
    <br></br>
    <br></br>
    <br></br>
  </form>
</div>


</div>

{% endblock  %}