{% extends "navBar.html" %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <link rel="stylesheet" href="{% static 'cony/tienda.css'%}">
   
    <title>Tienda</title>
</head>
{% block body %}
<!--Inicio tienda-->
<div id="fondo" style="padding: 20px;">
    <h1 style="text-align:center;">Tienda </h1>
    <h6 style="text-align: center;">¿Se te olvidó algo? Nosotros te ayudamos.</h6>
    <br><br><br>
    <!--Sección 1-->
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

  <div class = "container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-3">
   
      {% for x in productos %}

        <div class="col">
          <div id="cards" class="card border-0 bg-light">
            <img id="imagenproducto" src="{{x.image}}" class="card-img-top" width="15%">
            <div id="cuerpo" class="row align-items-end card-body"> 
              <h5>{{x.nombreProducto}}</h5>
              <p>${{x.precio}}<p>
              <p> Cantidad disponible: {{x.cantidad}}</p>
              {% if x.cantidad > 0%}
                <a class="btn btn-primary" href="{% url 'agregar_producto' x.id %}">Comprar</a>
        {% else %}
                <span> Producto no disponible</span>
        {% endif%}
      </div>
    </div>
    </div>

    {% endfor %}
  </div>
  <br></br>
</div>
</div>
{% endblock  %}